h1{
	color:white;
	font-size:120px;
	font-family:"Great Vibes", Helvetica, sans-serif;
	text-shadow: 4px 4px 3px rgba(0,0,0,0.1);
}
.top{
	background-image: url("pgirl.jpg");
	padding-top: 20px;
    padding-right: 50px;
    padding-bottom: 350px;
    padding-left: 30px;
	z-index: 4;
}
h2{
	color: white;
	position: absolute;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    right: 543px;
    top: 215px;
}
h3{
	color: #324d00;
	font-size: 50px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	line-height: 5px;
}
h4{
	color: #324d00;
	font-size: 35px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	line-height: 0px
}
h5{
	color: #324d00;
	font-size: 35px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	line-height: -5px
}
h6{
	color: #324d00;
	font-size: 35px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	line-height: 20px
}
pre{
	color: black;
	font-size: 20px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	text-align: center;
	padding-right: 65px;
}
pre.one{
	color: black;
	font-size: 20px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	padding-right: 65px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
pre.two{
	color: black;
	font-size: 20px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	padding-right: 65px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
pre.three{
	color: black;
	font-size: 20px;
	font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif;
	padding-right: 65px;
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
}
span.one{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    border: 10px solid #324d00;
    display: inline-block;
	
}
span.two{ 
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    border: 10px solid #324d00;
    display: inline-block;
}
span.three{
	margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 0px;
    margin-left: 0px;
    border: 10px solid #324d00;
    display: inline-block;
}
